body {
  margin: 0;
  overflow: hidden;
  /*removes scrollbars*/
}

#gameCanvas {
  display: block;
  /*removes tiny gaps*/
  width: 100vw;
  /*sets to full viewport width*/
  height: 120vh;
  /*sets to full viewport height*/
}